
#currentWords {
    -fx-max-width: 5000;
}


#currentWords .fromWordCountColumn .label {
    -fx-alignment: center;
    -fx-padding: 0 2 0 2;
}
#currentWords .table-row-cell .fromWordCountColumn {
    -fx-alignment: center;
}

#currentWords .table-row-cell .baseOfFrom1CharColumn {
    -fx-alignment: top-center;
}


/* Styling TranslationCount-Status column. */

#currentWords  .table-row-cell .TranslationCountStatus-Ok {
    -fx-alignment: center;
}


#currentWords  .table-row-cell .TranslationCountStatus-NotBad {
    -fx-alignment: center;
    -fx-background-color: #fffac5;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-NotBad {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-Warn {
    -fx-alignment: center;
    -fx-background-color: #ffdcc0;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-Warn {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-ToMany {
    -fx-alignment: center;
    -fx-background-color: #ffbbbb;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-ToMany {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .WordCardStatus-NoBaseWordInSet {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Seems it is not allowed to share ImageView instance (at least between different cells rendering).*/
    /* It causes disappearing/erasing icons in table-view during scrolling.*/
    /* Most probably it is a bug or probably feature :-) */
    /* */
    /* Seems for the same reason we cannot use fx-graphic for table-view cells.*/
    /* I'm sure that such CSS behavior it is surely bug! */

    /*-fx-graphic: url("icons/exclamation-1.png");*/
}

#currentWords  .table-row-cell .WordCardStatus-NoTranslation {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Does not work properly! JavaFX bug */
    /*-fx-graphic: url("icons/exclamation-4.png");*/
}

#currentWords  .table-row-cell .WordCardStatus-TranslationIsNotPrepared {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Does not work properly! JavaFX bug */
    /*-fx-graphic: url("icons/exclamation-4.png");*/
}

#currentWords  .table-row-cell .WordCardStatus-TooManyExampleNewCardCandidates {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Does not work properly! JavaFX bug */
    /*-fx-graphic: url("icons/exclamation-1.png");*/
}

#currentWords  .table-row-cell .WordCardStatus-Duplicates {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Does not work properly! JavaFX bug */
    /*-fx-graphic: url("icons/exclamation-1.png");*/
}

#currentWords .column-header > .label {
    -fx-padding: 0 0 0 5;
}

#currentWords .statusesColumn .label {
    -fx-alignment: center;
    -fx-padding: 0 15 0 15;
}


#currentWords .partsOfSpeech .label {
    -fx-alignment: center;
    -fx-padding: 0 15 0 15;
}
#currentWords  .table-row-cell .Noun {
    /*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #a35d2a, background-color);*/
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #a35d2a, background-color);
}
#currentWords  .table-row-cell .Adjective {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #95a286, background-color);
}
#currentWords  .table-row-cell .Verb {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #8b3d17, background-color);
}
#currentWords  .table-row-cell .AuxiliaryVerb {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #8b3d17, background-color);
}
#currentWords  .table-row-cell .ModalVerb {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #8b3d17, background-color);
}
#currentWords  .table-row-cell .PhrasalVerb {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #ad5d5e, background-color);
}
#currentWords  .table-row-cell .Pronoun {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #c6a8b0, background-color);
}
#currentWords  .table-row-cell .Adverb {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #555b4d, background-color);
}
#currentWords  .table-row-cell .Union {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #253d6b, background-color);
}
#currentWords  .table-row-cell .Numeral {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #1a2747, background-color);
}
#currentWords  .table-row-cell .Particle {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #b18f6a, background-color);
}
#currentWords  .table-row-cell .Preposition {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #d7bfd7, background-color);
}
#currentWords  .table-row-cell .PluralPreposition {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #d7bfd7, background-color);
}
#currentWords  .table-row-cell .Interjection {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #b18f6a, background-color);
}
#currentWords  .table-row-cell .Word {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9896a4, background-color);
}
#currentWords  .table-row-cell .Abbreviation {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9896a4, background-color);
}
#currentWords  .table-row-cell .Singular {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9896a4, background-color);
}
#currentWords  .table-row-cell .Conjunction {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9896a4, background-color);
}
#currentWords  .table-row-cell .Determiner {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9896a4, background-color);
}
#currentWords  .table-row-cell .Phrase {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #d8af46, background-color);
}
#currentWords  .table-row-cell .PrepPhrase {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #d8af46, background-color);
}
#currentWords  .table-row-cell .Exclamation {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #af9483, background-color);
}
#currentWords  .table-row-cell .SetExpression {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #af9483, background-color);
}
#currentWords  .table-row-cell .AdditionalPartOfSpeech1 {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #ffa07a, background-color);
}
#currentWords  .table-row-cell .AdditionalPartOfSpeech2 {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #11d3d5, background-color);
}
#currentWords  .table-row-cell .AdditionalPartOfSpeech3 {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #9b16a3, background-color);
}
#currentWords  .table-row-cell .MasculineGender {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #2d17a0, background-color);
}
#currentWords  .table-row-cell .FeminineGender {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #efbae6, background-color);
}
#currentWords  .table-row-cell .NeuterGender {
    -fx-background-color: linear-gradient(from 0px 0px to 20px 20px, #ebe0a2, background-color);
}

.PartOfSpeechCell {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
}
.PartOfSpeechCell .CheckComboBoxContainer {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-alignment: center;
}
.PartOfSpeechCell .CheckComboBoxContainer .CheckComboBox {
    -fx-max-width: 10000;
    -fx-max-height: 10000;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-alignment: center;
    -fx-focus-color: transparent; -fx-faint-focus-color: transparent;
    /*-fx-arrows-visible: false; -fx-arrow-button-gap: 0;*/
    /*-fx-mark-color: red; -fx-mark-highlight-color: blue;*/
    -fx-wrap-text: false;
    -fx-line-spacing: 0;
    -fx-label-padding: 0;
    -fx-graphic-text-gap: 0;
    /*-fx-text-fill333: 0 0 0 0;*/
    /*-fx-text-overrun333: false;*/
    /*-fx-ellipsis-string333: false;*/
    -fx-content-display: center;
}

/*
.PartOfSpeechCellComboBox .menu-button > .arrow-button {
    -fx-padding: 0;
    -fx-mark-color: transparent;
}
.PartOfSpeechCellComboBox .menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
    -fx-mark-color: transparent;
}
*/
.PartOfSpeechCell .CheckComboBoxContainer .CheckComboBox .arrow-button {
    /* Do not work. */
    /*-fx-arrows-visible: false;*/
    /*-fx-arrow-button-gap: 0;*/

    -fx-min-width : 7;
    -fx-pref-width: 7;
    -fx-max-width : 7;

    /* Use if you want to hide arrow at all. */
    /*-fx-padding: 0;*/
    /*-fx-mark-color: transparent;*/
}
.PartOfSpeechCell .CheckComboBoxContainer .CheckComboBox .arrow-button > .arrow {
    /* Use if you want to hide arrow at all. */
    /*-fx-padding: 0;*/
    /*-fx-mark-color: transparent;*/
}

#currentWords .translationCountColumn .label {
    -fx-alignment: center;
    -fx-padding: 0 15 0 15;
}

#currentWords .exampleCountColumn .label {
    -fx-alignment: center;
    -fx-padding: 0 2 0 2;
}
#currentWords .table-row-cell .exampleCountColumn {
    -fx-alignment: center;
}


#currentWords .predefinedSetsColumn .label {
    -fx-alignment: center;
    /*-fx-padding: 0 15 0 15;*/
}

#currentWords .sourcePositionsColumn .label {
    -fx-alignment: center;
    -fx-padding: 0 5 0 5;
}

/*#currentWords .table-row-cell {*/
/*    -fx-cell-size: 200.0;*/
/*}*/

/* It does not work. */
/*#currentWords .examplesColumn .cell {*/
/*    -fx-max-height:  150.0;*/
/*}*/

#currentWords .examplesColumnCell {
    /* We do not want to have very high row if from/to are short/small enough but there too many examples. */
    -fx-max-height:  150.0;
}

.htmlTextPreview {
    /*-fx-context-menu-enabled: false;*/
    /*-fx-font-smoothing-type: ;*/
    /*-fx-font-scale: 1.0;*/
}

.htmlTextPreviewDialogPane {
    -fx-pref-width: 420;
    -fx-pref-height: 270;
}

/* That all does NOT work properly. Table column will have required width, */
/* but it become un-sizable and looks strange and total table width is not calculated properly. */
/* See https://stackoverflow.com/questions/54214655/problems-with-setting-tablecolumn-width-in-fxml-using-css */
/*#currentWords #fromColumn { -fx-pref-width: 200; }*/
/*#currentWords .fromColumn { -fx-pref-width: 200; }*/

#allProcessedWords {
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

#ignoredWords {
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

/* It is needed if middle-bar buttons have different size.
   Without it they will have different widths. */
.middleBarButton {
    -fx-max-width: 500;
    -fx-min-width: 130;
}

/*.combo-box> .list-cell {*/
.warningsDropDown> .list-cell {
    -fx-alignment: center;
}


.toolBarButton24x {
    -fx-padding: 10 10 10 10;
}
.toolBarLabelledButton24x {
    -fx-padding: 10 0 4 0;
    -fx-min-width: 60;
    -fx-min-height: 60;
}

.cardDuplicatesTitle {
    -fx-padding: 0 0 0 0;
    -fx-text-fill: orange;
    -fx-font-weight: bold;
}

.cardDuplicatesContainer {
    -fx-padding: 2 4 4 4;
}

.otherCardsViewPopupContent {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: -fx-foreground-color;
    -fx-padding: 4 4 4 4;

    /* Actually using shadow adds some kind of blinking.
       If it disturb you, please remove/comment below lines.

       See modena.css for predefined vars.
     */
    -fx-background-color: -fx-base;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}


.synonymsPopupCaption {
    -fx-padding: 0 0 10 0;
}

.synonymsPopupContent {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: -fx-foreground-color;

    -fx-background-color: -fx-base;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);

    -fx-min-width: 300;
    -fx-padding: 4 4 4 4;
}


.chooseOtherSetDialogPane .filterPane {
    -fx-padding: 5 5 15 5;
}

.chooseOtherSetDialogPane .refreshFilesButton {
    -fx-padding: 5 5 0 5;
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.chooseOtherSetDialogPane .dictionariesGroupingLabel {
    -fx-padding: 0 0 15 0;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.chooseOtherSetDialogPane .filterPane {
    -fx-padding: 0 0 10 0;
}

.chooseOtherSetDialogPane .filterPane .letterButton {
    -fx-min-width:   25;
    -fx-min-height:  25;
    -fx-pref-width:  25;
    -fx-pref-height: 25;
    -fx-max-width:   25;
    -fx-max-height:  25;

    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: false;
    -fx-text-overrun: clip;
    -fx-ellipsis-string: "";
    -fx-label-padding: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}