
#currentWords {
    -fx-max-width: 5000;
}


/* Styling TranslationCount-Status column. */

#currentWords  .table-row-cell .TranslationCountStatus-Ok {
    -fx-alignment: center;
}


#currentWords  .table-row-cell .TranslationCountStatus-NotBad {
    -fx-alignment: center;
    -fx-background-color: #fffac5;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-NotBad {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-Warn {
    -fx-alignment: center;
    -fx-background-color: #ffdcc0;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-Warn {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-ToMany {
    -fx-alignment: center;
    -fx-background-color: #ffbbbb;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-ToMany {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .WordCardStatus-NoBaseWordInSet {
    -fx-alignment: center;
    /*-fx-background-color: #ffdcc0;*/

    /* Seems it is not allowed to share ImageView instance (at least between different cells rendering).*/
    /* It causes disappearing/erasing icons in table-view during scrolling.*/
    /* Most probably it is a bug or probably feature :-) */
    /* */
    /* Seems for the same reason we cannot use fx-graphic for table-view cells.*/
    /* I'm sure that such CSS behavior it is surely bug! */

    /*-fx-graphic: url("icons/exclamation-1.png");*/
}

/* That all does NOT work properly. Table column will have required width, */
/* but it become un-sizable and looks strange and total table width is not calculated properly. */
/* See https://stackoverflow.com/questions/54214655/problems-with-setting-tablecolumn-width-in-fxml-using-css */
/*#currentWords #fromColumn { -fx-pref-width: 200; }*/
/*#currentWords .fromColumn { -fx-pref-width: 200; }*/

#allProcessedWords {
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

#ignoredWords {
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

/* It is needed if middle-bar buttons have different size.
   Without it they will have different widths. */
.middleBarButton {
    -fx-max-width: 500;
    -fx-min-width: 130;
}
