

/* Styling TranslationCount-Status column. */

#currentWords  .table-row-cell .TranslationCountStatus-Ok {
    -fx-alignment: center;
}


#currentWords  .table-row-cell .TranslationCountStatus-NotBad {
    -fx-alignment: center;
    -fx-background-color: #fffac5;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-NotBad {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-Warn {
    -fx-alignment: center;
    -fx-background-color: #ffdcc0;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-Warn {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}


#currentWords  .table-row-cell .TranslationCountStatus-ToMany {
    -fx-alignment: center;
    -fx-background-color: #ffbbbb;
    -fx-background-insets: 0 0 1 0;
}
#currentWords  .table-row-cell:selected .TranslationCountStatus-ToMany {
    -fx-background-insets: 1 0 1 0; /* to fix top selection border */
    -fx-text-fill: black;           /* to avoid default white text color. */
}
